<?xml version="1.0" encoding="utf-8"?>
<SMSConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Ver>1</Ver>
  <!--<Url>http://106.ihuyi.cn/webservice/sms.php?method=Submit</Url>
  <UserName>cf_xqdwx</UserName>
  <Password>123456</Password>-->
  <Url>http://localhost:8805/wx/home/sms?method=Submit</Url>
  <UserName>11111</UserName>
  <Password>11111</Password>
  <FindPwdBody>找回密码{mallname}{code}</FindPwdBody>
  <SCVerifyBody>您的验证码是：{code}。请不要把验证码泄露给其他人。</SCVerifyBody>
  <SCUpdateBody>安全中心更新手机校验码{mallname}{code}</SCUpdateBody>
  <WebcomeBody>欢迎注册{mallname}{regtime}{mobile}</WebcomeBody>
  <AssignOrderBody>您好！感谢您选择露西家洗车，您车牌号:{carno}的预约已收到，我们将尽快为您服务。客服电话：18792605763</AssignOrderBody>
  <AssignOrderWorkerBody>亲，又有新单了，加油哦！</AssignOrderWorkerBody>
  <CarWashFinishedBody>您好！感谢您选择露西家洗车，您的爱车已洗完。客服电话：18792605763</CarWashFinishedBody>
  <SubmitOrderToCustomeBody>您好！感谢您选择露西商城，您的预约已收到，我们将尽快为您服务。客服电话：18792605763</SubmitOrderToCustomeBody>
  <SubmitOrderToShopBody>您好！您有新的预约，详细查看{url}。客服电话：18792605763</SubmitOrderToShopBody>
  <AssignOrderShopWorkerBody>c.您好!有一则订单需要飞毛腿送达,请注意查看您的取货和送货信息,请尽快送达,奔跑吧兄弟!客服电话:18792605763</AssignOrderShopWorkerBody>
</SMSConfigInfo>