@model Pasys.Web.Admin.UI.Models.SampleModel
@{
    ViewBag.Title = "Index";

    var metaData = ViewData.ModelMetadata;
}

<h2>Index</h2>
<div>
    @using (Html.BeginForm())
    {
        @Html.EditorForModel()

        <input type="submit" formmethod="post" formaction="CreateNew" value="保存" class="btn btn-primary" />
        <input type="submit"   value="删除" class="btn btn-danger" />
    }
</div>
