@using Pasys.Web.Core.Attributes;
@model object

@{
    SelectList selectList = null;
    var mataData = ViewData.ModelMetadata;
    var p = mataData.ContainerType.GetProperty(mataData.PropertyName);
    var dataSource = p.GetCustomAttributes(typeof(IDropDownDataSourceAttribute), true).FirstOrDefault() as IDropDownDataSourceAttribute;
    if (dataSource != null)
    {
        selectList = dataSource.GetData(Model);
    }
   
}

@if (selectList != null)
{
    @Html.DropDownList("", selectList, new { @Style = "width:150px", @class = "form-control" })
}
else
{
    <div>@mataData.Description  HELLO WORLD</div>
}