@{
    var metaData = ViewData.ModelMetadata;
}
@using Pasys.Web.Core.Attributes;
@model object
<div class="form-horizontal">
    @foreach (ModelMetadata item in metaData.Properties.Where(m => m.ShowForEdit && !m.HideSurroundingHtml).OrderBy(m => m.Order))
    {
        <div class="form-group">
            @Html.Label(item.PropertyName, item.DisplayName, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @{
                string templateName = "";
                if (item.ModelType == typeof(System.String) || item.ModelType.IsValueType)
                {
                    templateName = "TextBoxes";
                }
                var p = item.ContainerType.GetProperty(item.PropertyName);
                var dataSource = p.GetCustomAttributes(typeof(IDataSourceAttribute), true).FirstOrDefault() as IDataSourceAttribute;
                if (dataSource != null)
                {
                    templateName = dataSource.TemplateName;
                }                   
                  
                @Html.Editor(item.PropertyName, templateName)
                
                @Html.ValidationMessage(item.PropertyName)
                }
            </div>
        </div>
    }
    <div class="hide">
        @foreach (ModelMetadata item in metaData.Properties.Where(m => !m.ShowForEdit || m.HideSurroundingHtml))
        {
            if (!item.ShowForEdit)
            {
                continue;
            }
            @Html.Editor(item.PropertyName, "Hidden")
        }
    </div>
</div>
