<?xml version="1.0" encoding="utf-8"?>
<RDBSConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Ver>1</Ver>
  <DatabaseType>SqlServer</DatabaseType>
  <ConnectionStrings>
    <ConnectionString>
      <Name>DefaultConnection</Name>
      <ConnectionStr>Data Source=JZHU063-DELL\SQLEXPRESS2014;Initial Catalog=PasysAppFK;Persist Security Info=True;User ID=sa;Password=fish;</ConnectionStr>
      <ProviderName>System.Data.SqlClient</ProviderName>
    </ConnectionString>
  </ConnectionStrings>
</RDBSConfigInfo>
