<?xml version="1.0" encoding="utf-8" ?>
<WeiXinMPConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!-- URL对接信息 -->
  <WeixinToken>xqdwx</WeixinToken>
  <WeixinEncodingAESKey>oyvJ7FMAHop0C4abXF6BCKlcZmNUuojSaIJDibApZtM</WeixinEncodingAESKey>
  <!-- 高级接口信息 -->
  <WeixinAppId>wx43b523b093e82fd9</WeixinAppId>
  <WeixinAppSecret>bbd8ab7f0188f8511cbe88c56af705e8</WeixinAppSecret>
  <!-- SDK提供的代理功能设置 -->
  <WeixinAgentUrl>外部代理Url</WeixinAgentUrl>
  <WeixinAgentToken>外部代理Token</WeixinAgentToken>
  <WeixinAgentWeiweihiKey>外部代理WeiWeiHiKey</WeixinAgentWeiweihiKey>
  <!-- 微信支付相关参数 -->
  <!-- 微信支付V2 -->
  <WeixinPay_Tenpay>WeixinPay_Tenpay</WeixinPay_Tenpay>
  <WeixinPay_PartnerId>WeixinPay_PartnerId</WeixinPay_PartnerId>
  <WeixinPay_Key>WeixinPay_Key</WeixinPay_Key>
  <WeixinPay_AppId>WeixinPay_AppId</WeixinPay_AppId>
  <WeixinPay_AppKey>WeixinPay_AppKey</WeixinPay_AppKey>
  <WeixinPay_TenpayNotify>WeixinPay_TenpayNotify</WeixinPay_TenpayNotify>
  <!-- 微信支付V3 -->
  <TenPayV3_MchId>1230583602</TenPayV3_MchId>
  <TenPayV3_Key>tbsch15829885166tbsch15829885166</TenPayV3_Key>
  <TenPayV3_AppId>wx43b523b093e82fd9</TenPayV3_AppId>
  <TenPayV3_AppSecret>bbd8ab7f0188f8511cbe88c56af705e8</TenPayV3_AppSecret>
  <TenPayV3_TenpayNotify>TenPayV3_TenpayNotify</TenPayV3_TenpayNotify>
  <!-- 开放平台 -->
  <Component_Appid>Component_Appid</Component_Appid>
  <Component_Secret>Component_Secret</Component_Secret>
  <Component_Token>Component_Token</Component_Token>
  <Component_EncodingAESKey>Component_EncodingAESKey</Component_EncodingAESKey>
  <AuthorizeState>xqdwxtest</AuthorizeState>
</WeiXinMPConfigInfo>